/* brand reference */
.brand-color {
  border: thick solid var(--color-text);
  border-radius: 2rem;
  text-align: center;
  margin: .75rem;
  font-weight: bold;
}

#brand-dark {
  background-color: var(--brand-dark);
  color: var(--brand-light);
}

#brand-purple {
  background-color: var(--brand-purple);
  color: var(--brand-light);
}

#brand-pink {
  background-color: var(--brand-pink);
  color: var(--brand-light);
}

#brand-orange {
  background-color: var(--brand-orange);
}

#brand-blue {
  background-color: var(--brand-blue);
  color: var(--brand-dark);
}

#brand-yellow {
  background-color: var(--brand-yellow);
  color: var(--brand-dark);
}

#brand-light {
  background-color: var(--brand-light);
  color: var(--brand-dark);
}